body {
    background-color: #030b6b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-top: 50px;
  }

  p{
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid rgb(26, 155, 26); */
    animation: move-border 5s ease-in-out infinite;
  }

  @keyframes move-border {
    0% {
      border-color: green;
    }
    25% {
      border-color: yellow;
    }
    50% {
      border-color: red;
    }
    75% {
      border-color: palevioletred;
    }
    100% {
      border-color: green;
    }
  }

  .button {
    display: block;
    margin: auto;
    padding: 20px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 150px;
  }
